.filter-array-value-trigger {
	border-radius: var(--w-border-radius-2);
	color: var(--gray-12);
	font-size: var(--w-font-size-2);
	font-variant-numeric: tabular-nums;
	line-height: 1;
	padding: var(--w-space-1);
	outline: var(--w-border-width-2) solid transparent;

	&:focus-visible {
		outline-color: var(--gray-7);
	}

	&[data-state="open"] {
		background-color: var(--gray-3);
	}

	&[data-empty="true"] {
		color: var(--w-accent-11);
	}

	&[data-empty="true"][data-state="open"] {
		background-color: var(--w-accent-3);
		color: var(--w-accent-11);
	}

	&[data-empty="true"]:focus-visible {
		outline-color: var(--w-accent-7);
	}

	&:hover {
		background-color: var(--gray-3);
	}

	&[data-empty="true"]:hover {
		background-color: var(--w-accent-3);
	}
}
