.cas-grid {
	display: grid;
	gap: var(--w-space-2);
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto;

	.cas-grid-item {
		padding: var(--w-tc-padding);

		&:has(> input[data-checked="true"]) {
			outline: var(--w-border-width-2) solid var(--w-accent-9);
			border-color: transparent;
		}

		.cas-grid-item-input {
			aspect-ratio: 1;
			background-color: var(--w-accent-9);
			border-radius: max(
				calc(var(--w-border-radius-2) - var(--w-tc-padding)),
				2px
			);
			height: 100%;
		}
	}
}
