.cs-grid {
	display: grid;
	gap: var(--w-space-2);
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: auto;

	.cs-grid-item {
		align-items: center;
		display: flex;
		justify-content: center;

		> input {
			height: 0;
			width: 0;
		}

		&:has(> input[data-checked="true"]) {
			outline: var(--w-border-width-1) solid var(--w-accent-9);
			border-color: transparent;
		}
	}
}
