.tc-content {
	min-width: max-content;

	.tc-chiclet {
		--w-tc-padding: var(--w-space-1);

		background-color: var(--w-color-grey-a2);
		border: var(--w-border-width-1) solid var(--w-color-grey-a4);
		border-radius: var(--w-border-radius-2);
		height: 34px;
		padding: var(--w-tc-padding);
		padding-right: var(--w-space-2);
		text-transform: capitalize;
	}
}
