[w-command] {
	&[w-command-size="2"] {
		--avatar-font-size: calc(var(--w-font-size-1) * 0.9);
	}

	&[w-command-size="1"] {
		--avatar-font-size: calc(var(--w-font-size-1) * 0.8);
	}

	.avatar {
		border-radius: var(--w-border-radius-1);
		background-color: var(--w-accent-9);
		color: var(--w-accent-9-contrast);
		height: 1.5rem;
		font-size: var(--avatar-font-size);
		font-weight: var(--w-font-weight-medium);
		text-transform: uppercase;
		width: 1.5rem;
	}
}
