@import "winnie-css";

body {
	background-color: var(--w-color-grey-1);
	align-items: center;
	display: flex;
	height: 100vh;
	flex-direction: column;
	justify-content: center;
	gap: var(--w-space-5);
}

.demo {
	display: flex;
	justify-content: center;
	width: 100%;
}

.row {
	align-items: center;
	display: flex;
	justify-content: center;
	gap: var(--w-space-3);
}

.padding-lg {
	padding: 40px;
}
