/* prettier-ignore */
.app {
    --app-header-height: 60px;

	display: grid;
    grid-template-areas:
        "header"
        "main"
        ;
    grid-template-rows: var(--app-header-height) 1fr;
    height: 100%;
    width: 100%;
}

.header {
	align-items: center;
	display: flex;
	grid-area: header;
	justify-content: space-between;
	padding-inline: var(--w-space-4);
}

.nav {
	align-items: center;
	display: flex;
	gap: var(--w-space-2);
}

.main {
	display: flex;
	grid-area: main;
}

.background-polka {
	opacity: 0.8;
	background-image: radial-gradient(
		var(--w-color-grey-7) 1px,
		var(--w-color-grey-a1) 1px
	);
	background-size: 19px 19px;
	border: var(--w-border-width-1) solid var(--w-color-grey-5);
	border-radius: min(var(--w-border-radius-2), 20px);
	padding: var(--w-space-6);
}
