.tc-grid {
	display: grid;
	gap: var(--w-space-2);
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto;
}

.tc-grid-item {
	background-color: var(--w-accent-5);
	height: 20px;
	width: 100%;
}
