.ks-main {
	& h2 {
		margin-bottom: var(--w-space-4);
	}

	& h3 {
		margin-block: var(--w-space-5);
	}

	.kitchen-sink-table {
		& th {
			text-align: left;
		}

		/* prettier-ignore */
		& th, td {
			padding: var(--w-space-2);
			min-width: 100px;
		}
	}
}
